#btnScroller{
    width: 100px;
    height: 50px;
    margin-left: 20px;
}
#tableScroller{
    font-size: 18px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance: textfield;
  }
#segundos{
    border: none;
    border-bottom: 4px solid black;
    width: 80px;
    height: 30px;
}